.BroadcastPlayer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  color: var(--border-color);
  .play{
    $size: 70px;
    color: inherit;
    grid-column: 3/4;
    width: $size;
    height: $size;
  }
  button{
    color: var(--border-color);
    transition: color .4s;
    transition-delay: .8s;
    &:hover{
      color: white;
      transition: .25s;
    }
  }
  &.error{
    button{
      transition: color .5s;
      color: var(--error-color);
    }
    .order{
      cursor: not-allowed;
    }
  }
}
