.GetApplicationButton {
  width: 180px;
  height: 60px;
  border: 1px solid transparent;
  //transition: .25s;
  &.appstore{
    background: url('../../../assets/buttons/app-store.svg');
    background-size: 100% 100%;
  }
  &.google{
    background: url('../../../assets/buttons/google-play-market.svg');
    background-size: 100% 100%;
  }
  &:hover{
    border: 1px solid grey;
    //transition: .25s;
    //transform: scale(1.05);
  }
}
