.GetApplicationButton {
  width: 100px;
  height: 33px;
  background-color: red;
  border: 1px solid transparent;
  //transition: .25s;
  @include for-xxl{
    width: 180px;
    height: 60px;
  }
  &.appstore{
    background: url('../../../assets/buttons/app-store.svg') no-repeat;
    background-size: 100% 100%;
  }
  &.google{
    background: url('../../../assets/buttons/google-play-market.svg') no-repeat;
    background-size: 100% 100%;
  }
  &:hover{
    border: 1px solid grey;
    //transition: .25s;
    //transform: scale(1.05);
  }
}
