@import "../../../../scss/mixins";

.HiddenAside {
  //$global-opacity-alt: 0.15;
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 10;
  width: 100%;
  background: var(--bg-deep-color);
  right: 0;

  @include layout-padding(true, false, true, false);
  @include for-lg {
    width: 50vw;
    $blur: 60px;
    /* if backdrop support: very transparent and blurred */
    @supports ((-webkit-backdrop-filter:  blur($blur)) or (backdrop-filter:  blur($blur))) {
      backdrop-filter: blur(60px);
      box-shadow: inset 0 2px 4px rgba(255, 255, 255, $global-opacity-alt), inset 0 0 60px rgba(255, 255, 255, $global-opacity-alt);
      background: rgba(255, 255, 255, $global-opacity-alt);
    }
  }
  @include for-xl{
    width: 50vw;
  }
  @include for-qxl{
    width: 39vw;
  }

}
