.FAQItem {
  margin-bottom: 15px;
  background-color: var(--bg-deep-color);
  box-shadow: none;
  border-radius: 5px;
  border-top: none;
  @include for-xl{
    margin-bottom: 30px;
  }
  &:before{
    display: none;
  }
  .head{
    display: flex;
    align-items: center;
    gap: 15px;
    @include for-xl{
      gap: 30px;
    }
    button{
      background-color: white;
      color: var(--primary-color);
    }
    h2{
      @include f5_16(){
        font-weight: 800;
      }
      @include for-xl{
        @include f4(){
          font-weight: 700;
        }
      }
    }
  }
  .detail{
    padding-left: 70px;//30px gap + button weight 40px
    @include f5(){
      font-weight: 400;
      line-height: 150%;
    }
    @include for-xl{
      @include f5_16(){
        line-height: 150%;
      }
    }
  }
}
