@import 'data';
.CommonPlayer {
  position: relative;
  width: $width;
  padding-top: 3px;
  padding-bottom: 3px;
  background: var(--bg-color);
  //box-shadow: 0 0 21px #000;
  color: var(--text-color);
  align-items: center;
  height: $sm-height;
  display: flex;
  gap: 10px;
  z-index: 2;
  @include for-sm{
    padding-top: 10px;
    padding-bottom: 10px;
    height: $height;
    gap: 25px;
  }
  &.fixed{
    position: fixed;
    bottom:0;
  }
  .cover{
    flex-shrink: 0;
  }
  .title{
    width: 100%;
    //margin: auto auto auto 0;
  }
  .controls{
    //margin: auto auto auto 0;
  }
  .actions{
    margin: auto 0 auto auto;
    button{
      color: var(--text-color);
    }
  }
  .channelMenuSelector{
    position: absolute;
    top: 0;
    left: 0;
  }


}
