.TracksSection {
  .inner {
    height: 100%;
    display: grid;
    .track{
      //box-sizing: content-box;
      @include for-lg{
        padding-left: 10px;
        padding-right: 10px;
      }
      @include for-qxl{
        padding-left: 15px;
        padding-right: 15px;
      }
      &:hover{
        background: rgba(255, 255, 255, $global-opacity-alt);
      }
    }
  }
}
