.BannerSection {
  background-color: #000;
  color: var(--text-color);
  position: relative;

  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    .spectrum{
      position: absolute;
      bottom: 0;
    }
    h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.05em;
      @include for-lg {
        font-size: 18px;
      }
      @include for-xxxl {
        font-size: 24px;
      }
    }
  }
}

