.BannerSection {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-deep-color);
  color: var(--text-color);

  .inner {
    display: grid;
    grid-template-columns: 3fr 5fr;
    height: 100%;
    align-items: center;

    .spectrumContainer {
      height: 60vh;
    }
  }

  .description {

    h1 {
      @include f1() {
        margin-bottom: 20px;
      }
    }

    h2 {
      @include f3() {
        font-weight: 700;
      }
    }
    p{
      @include f3() {
        font-weight: 700;
      }
    }
  }
}
