.ViewPostsSection {
  display: grid;
  gap: 30px;
  @include before-xl{
    .item{
      &:nth-child(5n){
        grid-column: span 2;
        grid-row: span 1;
      }
    }
  }
  @include for-sm{
    grid-template-columns: repeat(3, 1fr);
  }
  @include for-md{
    grid-template-columns: repeat(2, 1fr);
  }
  @include for-lg{
    grid-template-columns: repeat(3, 1fr);
  }
  @include for-xl{
    grid-template-columns: repeat(4, 1fr);
  }
  @include for-xxl{
    grid-template-columns: repeat(3, 1fr);
  }
  @include for-qxl{
    grid-template-columns: repeat(4, 1fr);
  }
  @include for-uxl{
    grid-template-columns: repeat(5, 1fr);
    :local(.item){
      &:nth-child(7n - 1){
        grid-column: span 2;
        grid-row: span 1;
      }
    }
  }
}
