$padding-v-xs: 7px;

$grid-column-gap-xs: 5px;
$grid-column-gap-lg: 10px;

$height-image-xs: 45px;
$height-image-lg: 60px;

$height-xs: $height-image-xs + ($padding-v-xs * 2);
$height-lg: $height-image-lg + ($padding-v-xs * 2);

