@import "data";

.T {
  width: 100%;
  height: $height-xs;
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  background-color: transparent;
  transition: background-color .3s;
  grid-column-gap: $grid-column-gap-xs;
  padding: $padding-v-xs 4px $padding-v-xs 2px;

  &.dsc {
    grid-template-columns: auto min-content;
  }

  &.c {
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: var(--bg-panel-color);
      transition: background-color .3s;
    }
  }


  .cover {
    width: $height-image-xs;
    height: $height-image-xs;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    @include for-xxl {
      width: $height-image-lg;
      height: $height-image-lg;
    }

    &.noImageContainer {
      border: 1px solid var(--border-color);

      .noImg {
        padding-top: 25%;
      }
    }
  }

  .title {
    display: grid;
    align-items: center;
    justify-self: left;
    height: 100%;
    letter-spacing: 0.08em;
    @include for-xxl {
      padding: 5px 0;
    }

    .name {
      white-space: nowrap;
      @include f5 {
        font-weight: 500;
      }
    }

    .artist {
      white-space: nowrap;
      @include f7 {
        font-weight: 400;
      }
      @include for-xxl {
        @include f5;
      }
    }
  }

  .actionContainer {
    button, button > svg {
      color: var(--text-color);
    }
  }

  @include for-lg {
    grid-column-gap: $grid-column-gap-lg;
  }
  @include for-xxl {
    padding-right: 5px;
    padding-left: 5px;
    grid-column-gap: 10px;
    height: $height-lg;
  }
  @include for-qxl {
    grid-column-gap: 15px;
  }


}

