@import "data";

.T {
  width: 100%;
  height: $height-xs;
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  background-color: transparent;
  transition: background-color .3s;
  grid-column-gap: $grid-column-gap-xs;
  padding: $padding-v-xs 2px;
  &.dsc {
    grid-template-columns: auto min-content;
  }
  &.c {
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: var(--bg-panel-color);
      transition: background-color .3s;
    }
  }
  .cover {
    width: $height-image-xs;
    height: $height-image-xs;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    @include for-lg {
      width: $height-image-lg;
      height: $height-image-lg;
    }
    @include for-xl {
      width: $height-image-xl;
      height: $height-image-xl;
    }
    @include for-xxl {
      width: $height-image-xxl;
      height: $height-image-xxl;
    }

    &.noImageContainer {
      border: 1px solid var(--border-color);
      .noImg {
        padding-top: 25%;
      }
    }
  }
  .title {
    display: grid;
    align-items: center;
    justify-self: left;
    height: 100%;
    letter-spacing: 0.08em;
    @include for-xl {
      padding: 5px 0;
    }
    :local(.name) {
      @include f5 {
        font-weight: 500;
      }
    }
    :local(.artist) {
      @include f7 {
        font-weight: 400;
      }
      @include for-fxl {
        @include f5;
      }
    }
    :local{
      .name,
      .artist{
        overflow: hidden;
        white-space: nowrap;
        overflow-wrap: break-word;
        text-overflow: ellipsis;
      }
    }
  }
  .actionContainer {
    button, button > svg {
      color: var(--text-color);
    }
  }
  &:hover{
    :local{
      .name, .artist{
        overflow: hidden;
      }
    }
  }
  @include for-lg {
    grid-column-gap: $grid-column-gap-lg;
    height: $height-xl;
  }
  @include for-xl {
    grid-column-gap: $grid-column-gap-xl;
    height: $height-xl;
  }
  @include for-xxl {
    grid-column-gap: $grid-column-gap-xl;
    height: $height-xxl;
  }
  @include for-qxl {
    padding-right: 5px;
    padding-left: 5px;
  }
}

