@import 'data';
@import '../../mixins';

.AsideBar {
  width: $width;
  height: 100vh;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: none;
  @include full-page-padding(true, false, true, false);
  @include for-md{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  @include for-lg{
    width: $width-lg;
  }

  &.fixed{
    position: fixed;
  }
  &.left{
    left: 0;
  }
  &.right{
    right: 0;
  }
}
