@import 'data';
@import '../../scss/mixins';

.AsideBar {
  width: $width-sm;
  height: 100vh;
  z-index: 1;
  top: 0;
  bottom: 0;

  @include layout-padding(true,false,true,false);
  @include for-sm{
    display: block;
    width: $width-sm;
  }
  @include for-md{
    width: $width-md;
  }
  @include for-lg{
    width: $width-lg;
  }


  @include before-sm{
    display: none;
  }

  &.fixed{
    position: fixed;
  }
  &.left{
    left: 0;
  }
  &.right{
    right: 0;
  }
}
