@import 'data';
@import '../../scss/mixins';

.AsideBar {
  width: $width-sm;
  height: 100vh;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
  @include layout-padding(true,false,true,false);
  @include for-sm{
    display: flex;
    width: $width-sm;
  }
  @include for-md{
    width: $width-md;
  }
  @include for-lg{
    width: $width-lg;
  }

  &.fixed{
    position: fixed;
  }
  &.left{
    left: 0;
  }
  &.right{
    right: 0;
  }
}
