@import '../../../layouts/DefaultLayout/scss/data';

$height-xs: $player-height-xs;
$height-sm: $player-height-sm;
$height-lg: $player-height-lg;
$height-xxl: $player-height-xxl;
$height-qxl: $player-height-qxl;

$width: 100%;

