@import 'data';

.CommonPlayer {
  position: relative;
  width: $width;
  padding-top: 3px;
  padding-bottom: 3px;
  background: var(--bg-panel-color);
  color: var(--text-color);
  align-items: center;
  height: $height-xs;
  display: flex;
  gap: 10px;
  z-index: 4;
  transition: .2s;
  border-top: 1px solid transparent;
  transform: translateY(100%);
  box-shadow: 0px 0px 21px #000;
  @include for-md {
    gap: 30px;
  }
  @include for-lg {
    height: $height-lg;
  }
  @include for-xxl {
    padding-top: 2px;
    padding-bottom: 2px;
    height: $height-xxl;
  }

  &.fixed {
    bottom: 0;
    position: fixed;
  }

  &.openChannelMenu {
    transition: .2s;
    border-top: 1px solid var(--border-color);
  }

  &.transparent {
    background-color: transparent;

    :local {
      .openChannelMenu {
        background-color: transparent !important;
      }
    }
  }

  .cover {
    cursor: pointer;
    flex-shrink: 0;
    width: $height-xs;
    height: $height-xs;
    @include for-lg{
      width: $height-lg;
      height: $height-lg;
    }
    @include for-xxl{
      width: $height-xxl;
      height: $height-xxl;
    }
  }

  .title {
    cursor: pointer;
    width: 100%;
    line-height: 130%;
  }

  .control {
    width: 35px !important;
    height: 35px !important;
  }

  .actions {
    margin: auto 0 auto auto;
    flex-shrink: 0;

    button {
      color: var(--text-color);
    }
  }

  .channelMenuSelector {
    position: absolute;
    top: -1px;
    left: 0;
    box-shadow: 0px -3px 21px -10px #000000;
  }


}
