@import "../AsideBar/data";

$logo-container-size-xs: $aside-width-sm;
$logo-container-size-md: $aside-width-md;
$logo-container-size-lg: $aside-width-lg;
$logo-container-size-xl: $aside-width-xl;

$logo-size-xs: 40px;
$logo-size-lg: 50px;



$gap-xs: 0px;
