@import 'data';

.LogoComponent {
  display: flex;
  grid-gap: $gap-xs;
  color: var(--text-color);

  &:hover {
    img {
      &:global{
        animation: heartbeat ease-in 2s 2;
      }
    }
  }

  @include for-sm {
    grid-gap: $gap-sm;
  }
  @include for-xl{
    grid-gap: $gap-xl;
  }

  .logoImg {
    width: $logo-size;
    height: $logo-size;
    @include for-sm {
      width: $logo-size-sm;
      height: $logo-size-sm;
    }
    @include for-md {
      width: $logo-size-md;
      height: $logo-size-md;
    }
  }

  .logoTitle {
    @include f8() {
      font-weight: 700;
      line-height: 13px;
    }
    @include for-sm {
      @include f7();
    }

    @include for-md {
      @include f4();
    }

  }
}
