@import 'data';

.LogoComponent {
  display: flex;
  grid-gap: $gap-xs;
  color: var(--text-color);
  &:hover {
    img {
      &:global{
        animation: heartbeat ease-in 2s 2;
      }
    }
  }
  .logoContainer{
    width: $logo-container-size-xs;
    justify-content: center;
    align-items: center;
    display: flex;
    @include for-md {
      width: $logo-container-size-md;
    }
    @include for-xxl {
      width: $logo-container-size-xxl;
    }
    @include for-qxl {
      width: $logo-container-size-qxl;
    }
    .logoImg {
      width: $logo-size-xs;
      @include for-xxl{
        width: $logo-size-xxl;
      }
    }
  }



  .logoTitle {
    @include f7() {
      font-weight: 700;
      line-height: 150%;
    }
    @include for-xxl{
      @include f5;
    }

    @include for-qxl {
      @include f4(){
        line-height: 170%;
      }
    }

  }
}
