@import 'data';

.LogoComponent {
  display: flex;
  grid-gap: $gap-xs;
  color: var(--text-color);
  &:hover {
    img {
      &:global{
        animation: heartbeat ease-in 2s 2;
      }
    }
  }
  .logoContainer{
    width: $logo-container-size-xs;
    justify-content: center;
    align-items: center;
    display: flex;
    //padding-right: 2px;
    @include for-md {
      width: $logo-container-size-md;
    }
    @include for-lg {
      width: $logo-container-size-lg;
    }
    @include for-xl {
      width: $logo-container-size-xl;
    }
  }


  .logoImg {
    width: $logo-size-xs;
    @include for-lg{
      width: $logo-size-lg;
    }
  }

  .logoTitle {
    @include f5() {
      font-weight: 700;
      line-height: 150%;
    }

    @include for-lg {
      @include f4(){
        line-height: 170%;
      }
    }

  }
}
