$width-xs: 170px;
$width-md: 285px;
//$width-md: 335px;
$width-xxl: 420px;

$height-xs: 125px;
$height-md: 200px;
$height-xxl: 310px;

$gap-row-xs: 10px;
$gap-row-md: 15px;

$gap-column-xs: 10px;
$gap-column-md: 15px;

$padding-xs: 10px;
$padding-md: 15px 17px;

$radius-xs: 10px;
$radius-md: 20px;
$radius-lg: 25px;
