@import "data";
@import "mixins";


.Channel {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid transparent;
  transition: .25s;

  width: $width-xs;
  height: $height-xs;
  padding-top: 10px;
  border-radius: $radius-xs;

  @include for-md {
    width: $width-md;
    height: $height-md;
    border-radius: $radius-md;
  }
  @include for-xxl {
    width: $width-xxl;
    height: $height-xxl;
    border-radius: $radius-lg;
  }


  .title {
    grid-column: 2/3;
    @include f6() {
      font-weight: 500;
      letter-spacing: normal;
    }
    @include for-xl {
      @include f3();
    }
    @include for-qxl {
      @include f2();
    }
  }

  :local(.cover) {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    @include zoom-effect-on-leave();
  }

  :local(.description) {
    display: grid;
    $blur: 2px;
    grid-template-columns: 3fr 6fr;
    grid-column-gap: $gap-column-md;
    grid-row-gap: $gap-row-xs;
    z-index: 3;
    padding: $padding-xs;
    transition: .2s;
    background: linear-gradient(0, rgba(30, 31, 35, 0.4) 7.98%, rgba(30, 31, 35, .3) 34.08%, rgba(30, 31, 35, 0.2) 63.43%, rgba(30, 31, 35, 0.1) 84.36%, rgba(30, 31, 35, 0) 100%);
    @supports ((-webkit-backdrop-filter:  blur($blur)) or (backdrop-filter:  blur($blur))) {
      backdrop-filter: blur($blur);
    }
    @include for-md {
      padding: $padding-md;
      grid-template-columns: 50px 7fr;
    }
    @include for-xxl {
      padding: $padding-md;
      grid-column-gap: $gap-column-md;
      grid-template-columns: 90px 7fr;
    }
    @include for-xxl {
      grid-template-columns: 2fr 7fr;
    }

    :local(.control) {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1/2;
      grid-row: 1/3;
    }


    h5 {
      grid-column: 2/3;
      @include f8() {
        color: var(--primary-color);
        font-weight: 400;
        letter-spacing: 0.05em;
      }
      @include for-md {
        @include f6();
      }
      @include for-xxl {
        @include f4();
      }
    }
  }

  &:hover {
    :local(.cover) {
      @include zoom-effect-on-hover();
    }
  }
  &:local(.active) {
    transition: .25s;
    border: 2px solid #FFF;
  }
  &:local(.disabled) {
    :local(.description) h5 {
      color: var(--text-color);
    }
    :local(.cover) {
      filter: grayscale(50%);
    }
  }
  &:local(.error) {

    border: 2px solid var(--error-color);
    h4{
      transition: color .2s;
    }
    & * {
      color: var(--error-color);
    }
  }

  &.small {
    width: $width-xs;
    height: $height-xs;
    border-radius: $radius-xs;

    :local(.description) {
      padding: $padding-xs;
      grid-column-gap: $gap-column-md;
      grid-row-gap: $gap-row-xs;
      grid-template-columns: 3fr 6fr;
    }

    :local(.title) {
      @include f6();
    }

    h5 {
      @include f8();
    }
  }
  &.notResizable{
    width: 100%!important;
  }

}
