.DotsLoader {
  display: grid;
  width: 100px;
  height: 100%;
  align-items: center;
  .loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    flex: 0 0;
    display: block;
    margin: 0 auto;
    position: relative;
    color: currentColor;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}
