.LastTracksSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  .track{
    cursor: pointer;
    padding: 5px 10px;
    @include for-qxl{
      padding: 10px 15px;
    }
    &:hover{
      background: rgba(255, 255, 255, $global-opacity-alt);
    }
  }
}
