
//Header
$header-height-xs: 40px;
$header-height-sm: 40px;
$header-height-md: 40px;
$header-height-lg: 40px;
$header-height-xxl: 50px;
$header-height-xxxl: 70px;

//Player
$player-height-xs: 40px;
$player-height-sm: 40px;
$player-height-lg: 40px;
$player-height-xl: 60px;
$player-height-xxl: 60px;
$player-height-qxl: 80px;

//Aside bars
$aside-width-xs: 15px;
$aside-width-sm: 50px;
$aside-width-md: 60px;
$aside-width-lg: 60px;
$aside-width-xxl: 65px;
$aside-width-xxxl: 80px;



//inner section padding horizontal
$inner-section-h-padding-xs: 0px;
$inner-section-h-padding-sm: 15px;
$inner-section-h-padding-md: 20px;
$inner-section-h-padding-lg: 60px;
$inner-section-h-padding-xl: 115px;

//inner section padding vertical
$inner-section-v-padding-xs: 25px;
$inner-section-v-padding-sm: 30px;
$inner-section-v-padding-md: 40px;
$inner-section-v-padding-lg: 50px;
$inner-section-v-padding-xl: 60px;




