.BroadcastNow {
    text-align: center;
    display: grid;
    gap: 10px;
    min-height: 60px;
    @include for-lg {
      gap: 15px;
    }
    .name {
      @include f4() {
        font-weight: 700;
      }
    }
}
.loading{
  min-height: 60px;
}
