.BroadcastNow {
  text-align: center;
  display: grid;
  gap: 10px;
  height: 60px;
  position: relative;
  @include for-lg {
    gap: 15px;
  }

  .name {
    @include f4() {
      font-weight: 700;
    }
  }
}

.loading {
  height: 100%;
}
