.DynamicChannelTitle {
  //background: url('../../../../assets/title-bg.jpg');
  //background: url('../../../../assets/test/dancing-people-club.jpg');
  //background: url('../../../../assets/test/title-bg-2.jpg');
  //background: url('../../../../assets/test/title-bg-3.jpg');
  width: 100%;
  cursor: default;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 900;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: bg-swim 25s linear infinite;
  background: url('../../../../../../assets/test/title-bg-3-smoth.jpg');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &::selection {
    background-color: transparent;
  }

  @include for-lg {
    font-size: 100px;
  }
  @include for-qxl {
    display: block;
    font-size: 140px;
  }
  h1 {
    text-align: center;
  }
}

@keyframes bg-swim {
  0% {
    background-position: 10% 10%;
  }
  30% {
    background-position: 30% 50%;
  }
  50% {
    background-position: 90% 0;
  }
  80% {
    background-position: 90% 90%;
  }
  100% {
    background-position: 10% 10%;
  }
}
