@import './data';

.AuthorComponent {
  display: grid;
  grid-gap: 20px;
  color: var(--text-color);
  width: min-content;
  .inner {
    position: relative;
    height: $size-img-xs;
    overflow: hidden;
    border-radius: 10px;
    @include for-md {
      height: $size-img-md;
      width: $size-img-md;
    }
    @include for-xl {
      height: $size-img-xl;
      width: $size-img-xl;
    }

    .cover {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .front {
      width: 100%;
      height: 100%;
      padding: 8px;
      display: flex;
      @include for-md {
        padding: 10px 16px;
      }
      @include for-lg {
        padding: 15px 20px;
      }

      .button {
        margin: auto auto 0 0;
      }
    }
  }
  h3 {
    width: 100%;
    white-space: nowrap;
    @include f7() {
      letter-spacing: 0.05em;
      line-height: 13px;
      font-weight: 400;
    }
    @include for-md {
      @include f4();
    }
    @include for-xl {
      @include f3();
    }
  }
  &.resizable {
    //width: max-content;
    width:100%;
    :local(.inner) {
      width: 100%;
    }
  }
}
