.MapMarker {
  $height: 35px;
  width: max-content;
  height: $height;
  display: grid;
  grid-template-columns: $height auto;
  max-width: 120px;
  padding: 2px 5px;
  gap: 10px;
  align-items: center;
  transition: .2s;
  position: relative;
  border: 1px solid rgba(#fff, 0.1);
  border-radius: 0 7px 7px 7px;
  overflow: hidden;
  box-sizing: content-box;
  background-color: rgba(#fff, 0.02);
  @include f8(){
    line-height: 140%;
    font-weight: bold;
  }
  &:hover{
    transition: .2s;
    transform: scale(1.05);
    background-color: rgba(#fff, 0.05);
  }
  .cover {
    height: $height;
    width: $height;
    border-radius:50%;
    overflow: hidden;
    position: relative;
  }
}
