@import 'data';
@import 'mixins';

.EventComponent {
  display: flex;
  gap: $gap-xs;
  position: relative;
  height: $height-xs;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  box-sizing: content-box;
  border-radius: 5px;
  transition: .3s;
  width: $width-xs;
  @include get-padding(10px);
  &:hover{
    transition: .3s;
    background-color: rgba(#fff, .04);
  }
  @include for-lg {
    border-radius: 5px;
    height: $height-lg;
    width: $width-lg;
  }
  @include for-xxl {
    gap: $gap-xxl;
    @include get-padding(15px);
    height: $height-xxl;
    width: $width-xxl;
  }
  @include for-qxl {
    height: $height-qxl;
    width: $width-qxl;
    //border-radius: 2%;
  }

  &.resizable {
    width: 100% !important;
  }

  .cover {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    width: $height-xs;
    flex-shrink: 0;
    @include for-lg {
      min-width: $height-lg;
    }
    @include for-xxl {
      min-width: $height-xxl;
    }
    @include for-qxl {
      min-width: $height-qxl;
      border-radius: 10px;
    }
    &.noIMG{
      padding: 0;
    }
  }

  .desc {
    height: 100%;
    display: grid;
    align-items: center;
    gap: 3px;
    grid-template-rows: 35% auto auto;
    .title {
      //margin-bottom: 10px;
      @include f7();
      @include for-xl{
        @include f6();
      }
      @include for-xxl {
        @include f4();
        margin-bottom: 20px;
      }
    }
  }
}
