.NoCover {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  height: 100%;
  width: 100%;
  & > div > div{
   display: flex;
  }
  div,svg{
    width: 100%;
    height: 100%;
  }
}
