.CommonPlayerTitle {
  @include fxs();
  display: flex;
  align-items: center;
  overflow: hidden;
  .oneLine{
    width: 100%;
    white-space: nowrap;
  }
  .twoLine{
    display: grid;
    grid-gap: 4px;
    .artist{
      font-weight: 500;
    }
    .title{
      font-weight: 300;
    }
  }
}
