@import "../../../layouts/DefaultLayout/scss/mixins/index";

.TrackList {
  .inner {
    ::-webkit-scrollbar{
      display: none;
    }
    :global(.track) {
      cursor: pointer;
      @include layout-padding(false, true, false, true);
      &:hover {
        background: rgba(255, 255, 255, $global-opacity);
        box-shadow: inset 0px 0px 60px rgba(255, 255, 255, $global-opacity-alt);
      }
    }
  }
}
