@import 'src/layouts/DefaultLayout/scss/mixins';
.AlbumsSection {
  .albumsInner {
    gap: 15px;
    @include for-lg{
      gap: 0;
    }
    .item{
      @include for-lg{
        padding: 10px;
      }
      @include for-qxl{
        padding: 10px 15px;
      }
      &:hover{
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }
}
