
//Header
$header-height-xs: 40px;
$header-height-sm: 60px;
$header-height-md: 80px;

//Player
$player-height-xs: 60px;
$player-height-sm: 80px;

//Aside bars
$aside-width-xs: 40px;
$aside-width-lg: 60px;

//Максимальная высота страницы с учетом отступов
//$full-page-max-height: calc(100vh - #{$player-height-xs + $header-height-xs});
//$full-page-max-height-sm: calc(100vh - #{$player-height-sm + $header-height-sm});
//$full-page-max-height-md: calc(100vh - #{$header-height-md + $header-height-sm});
