.VirtualList {
  min-height: 80vh;

  ::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--bg-panel-color);
    border-radius: 3px;

    &:hover{
      width: 10px;
    }
  }
}
.Empty{
  min-height: 30vh;
}
