@import "./data";

.AlbumComponent {
  display: grid;
  grid-template-columns: $height-1 auto;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  @include for-xl {
    grid-template-columns: $height-2 auto;
  }

  .cover {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height:$height-1;
    width: $height-1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-xxl {
      height: $height-2;
      width: $height-2;
    }

    .play {
      margin: auto;
      position: absolute;
      z-index: 2;
      @include before-xxl {
        $size: 29px;
        width: $size;
        height: $size;
        min-width: $size;
      }
    }
  }

  .description {
    display: grid;
    align-items: center;

    .title {
      @include f7 {
        font-weight: 500;
        line-height: 140%;
      }
      @include for-xxl {
        @include f5;
      }
    }

    .year {
      @include f8 {
        font-weight: 500;
        line-height: 11px;
      }
      @include for-xxl {
        @include f7;
      }
    }
  }
}
