@import './data';

.AlbumComponent {
  display: grid;
  grid-template-columns: $height-1 auto;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  height: min-content;
  @include for-xl {
    grid-template-columns: $height-2 auto;
  }

  .cover {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    height: 100%;
    width: inherit;
    .front{
      display: flex;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 2;
    }
    .play {
      margin: auto;
      @include before-xxl {
        $size: 29px;
        width: $size;
        height: $size;
        min-width: $size;
      }
    }
  }

  .description {
    display: grid;
    align-items: center;

    .title {
      @include f7 {
        font-weight: 500;
        line-height: 140%;
      }
      @include for-xxl {
        @include f5;
      }
    }

    .year {
      @include f8 {
        font-weight: 500;
        line-height: 11px;
      }
      @include for-xxl {
        @include f7;
      }
    }
  }
}
