.ToTopSection {
  color: var(--text-color);
  display: grid;
  align-items: center;
  grid-gap: 30px;
  @include for-fxl{
    grid-gap: 50px;
  }
  button {
    cursor: pointer;
    margin: auto;
    min-width: 30px;
    padding: 5px 0;
    color: white;
    .label {
      @include f7 {
        font-weight: 600;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-orientation: mixed;
      }
      @include for-xxl{
        @include f6;
      }
    }
  }

  .line {
    margin: auto;
  }

  .lineContainer {
  }
}
