.ToTopSection {
  color: var(--text-color);
  display: grid;
  align-items: center;
  grid-gap: 50px;
  @include with-screen-padding(false, true);

  button {
    cursor: pointer;
    margin: auto;
    min-width: 30px;
    padding: 5px 0;
    color: white;
    .label {
      @include f5_16 {
        font-weight: 600;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-orientation: mixed;
      }
    }
  }

  .line {
    margin: auto;
  }

  .lineContainer {
  }
}
