$width-xs:  205px;
$width-md:  410px;
$width-lg:  510px;

$height-xs: 120px;
$height-md: 240px;
$height-lg: 300px;

$padding-xs: 10px;
$padding-md: 20px;

$avatar-size-xs: 25px;
$avatar-size-md: 40px;
$avatar-size-lg: 50px;
