$width-xs: 175px;
$width-sm: 230px;
$width-lg: 300px;
$width-xxl: 410px;
$width-fxl: 370px;
$width-qxl: 510px;

$max-width-qxl: 600px;
//$width-xxl:5 550px;

$height-xs: 125px;
$height-sm: 140px;
//$height-md: 190px;
$height-lg: 210px;
$height-xxl: 240px;
$height-fxl: 240px;
$height-qxl: 300px;

$padding-xs: 10px;
$padding-xxl: 20px;

$avatar-size-xs: 25px;
$avatar-size-lg: 40px;
$avatar-size-xxl: 50px;
