$width-xs:  175px;
$width-sm:  230px;
$width-lg:  300px;
$width-xxl:  410px;
$width-xxxl:  510px;
//$width-xxl:  550px;

$height-xs: 130px;
$height-sm: 150px;
$height-lg: 180px;
$height-xxl: 240px;
$height-xxxl: 300px;

$padding-xs: 10px;
$padding-xxl: 20px;

$avatar-size-xs: 25px;
$avatar-size-lg: 40px;
$avatar-size-xxl: 50px;
