@import './data';
@import './mixins';

.ClubComponent {
  position: relative;
  border-radius: 5px;
  display: grid;
  grid-gap: 10px;
  padding: $padding-xs;
  overflow: hidden;
  cursor: pointer;
  @include size();
  &.notResizable{
    width: 100% !important;
  }
  *{
    letter-spacing: 0.02em!important;
  }
  @include for-fxl{
    padding: $padding-xxl;
  }



  .bg {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: brightness(50%);
    @include zoom-effect-on-leave();
  }

  div.bg {
    filter: brightness(70%);
    @include lubimka-bg-gradient-2();
  }

  .head {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    .avatar{
      border-radius: 50%;
      width: $avatar-size-xs;
      height: $avatar-size-xs;
      background: var(--bg-panel-color);
      overflow: hidden;
      position: relative;
      @include for-lg{
        width: $avatar-size-lg;
        height: $avatar-size-lg;

      }
      @include for-fxl{
        width: $avatar-size-xxl;
        height: $avatar-size-xxl;
      }
      .no{
        padding: 15% 10% 10% 10%;
      }
    }

    .schedule {
      @include f8() {
        font-weight: 500;
      }
      @include for-lg{
          @include f7();
      }
      @include for-fxl{
        @include f4(){
          line-height: 150%!important;
        }
      }
    }
  }

  .body {
    display: grid;
    grid-gap: 5px;
    z-index: 1;
    h3 {
      @include f8 {
        width: 100%;
        font-weight: 900;
        white-space: nowrap;
      }
      @include for-lg{
        @include f6();
      }
      @include for-xxl{
        @include f4();
      }
      @include for-fxl{
        @include f3();
      }
    }
    .addressContainer{
      display: flex;
      align-items: center;
      gap: 5px;
      .address {
        @include f8();
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 140%!important;
        @include for-lg{
          @include f7();
        }
        @include for-xxl{
          @include f6();
        }
        @include for-fxl{
          @include f4();
        }
      }
    }
  }

  &:hover {
    :local{
      .bg{
        @include zoom-effect-on-hover()
      }
    }
  }

  &.longType {
    width: 100%;
  }
}
