@import './data';
@import './mixins';

.ClubComponent {
  position: relative;
  border-radius: 5px;
  display: grid;
  grid-gap: 10px;
  padding: $padding-xs;
  overflow: hidden;
  cursor: pointer;
  box-sizing: content-box;
  //margin: 10px;

  grid-template-rows: 6fr 4fr;
  @include size();

  * {
    letter-spacing: 0.02em !important;
  }

  @include for-xxl {
    border-radius: 10.2699px;
  }
  @include for-fxl {
    padding: $padding-xxl;
  }

  .cover {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    .bg {
      filter: brightness(50%);
      @include zoom-effect-on-leave();
    }

    &.noImg {
      filter: brightness(70%);
      @include lubimka-bg-gradient-2();
    }
  }

  .head {
    display: flex;
    justify-content: space-between;
    z-index: 1;

    .avatar {
      border-radius: 50%;
      width: $avatar-size-xs;
      height: $avatar-size-xs;
      background: var(--bg-panel-color);
      overflow: hidden;
      position: relative;
      @include for-lg {
        width: $avatar-size-lg;
        height: $avatar-size-lg;
      }
      @include for-fxl {
        width: $avatar-size-xxl;
        height: $avatar-size-xxl;
      }

      .no {
        padding: 15% 10% 10% 10%;
      }
    }

    .schedule {
      line-height: 150% !important;
      @include f8() {
        font-weight: 500;
      }
      @include for-xxl {
        @include f7();
      }
      @include for-qxl {
        @include f6();
      }
    }
  }

  .body {
    display: grid;
    grid-gap: 5px;
    z-index: 1;
    grid-template-rows: 30px auto;

    h3 {
      @include f7 {
        width: 100%;
        font-weight: 800;
        white-space: nowrap;
      }
      @include for-lg {
        @include f6();
      }
      @include for-xxl {
        @include f4();
      }
    }

    .addressContainer {
      @include f8();
      width: 100%;
      line-height: 140% !important;

      &.longAddr {
        span {
          white-space: pre-wrap;
        }
      }

      @include for-xxl {
        @include f6();
      }
    }
  }

  &:hover {
    :local {
      .bg {
        @include zoom-effect-on-hover();
      }
    }
  }

  &.res {
    width: 100%;
  }
}
