@import 'data';

.PlayButton {
  height: $size-xs;
  width: $size-xs;
  min-width: $size-xs;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  @include for-sm {
    height: $size-sm;
    width: $size-sm;
    min-width: $size-sm;
    button svg {
      font-size: 1.5rem;
    }
  }
  @include for-md {
    height: $size-md;
    width: $size-md;
    min-width: $size-md;
    button svg {
      font-size: 2rem;
    }
  }
  @include for-lg {
    height: $size-lg;
    width: $size-lg;
    min-width: $size-lg;
    button svg {
      font-size: 3rem;
    }
  }

  &.error{

  }

  button {
    width: calc(100% - #{$stroke-width-xs}px);
    height: calc(100% - #{$stroke-width-xs}px);
    color: var(--primary-color);
  }


  :local(.circular) {
    position: absolute;
    color: var(--primary-color);
    width: 100% !important;
    height: 100% !important;

    svg {
      circle {
        stroke-width: $stroke-width-xs;
      }
    }
  }

  &:local(.type2) {
    button {
      background-color: var(--acсent-color);
      color: var(--primary-color);
    }


    :global(.circular) {
      color: var(--acсent-color);
      &:global(.MuiCircularProgress-indeterminate) {
        color: var(--third-color);
      }
    }

    &:local(.disable) {
      button {
        color: var(--border-color);
      }
    }

    &:local(.error){
      button {
        color: var(--border-color);
      }
    }
  }



  &:global {
    &.small {
      height: $size-sm;
      width: $size-sm;
      min-width: $size-sm;

      button svg {
        font-size: 1.5rem;
      }
    }

    &.middle {
      height: $size-md;
      width: $size-md;
      min-width: $size-md;

      button svg {
        font-size: 2rem;
      }
    }

    &.large {
      height: $size-lg;
      width: $size-lg;
      min-width: $size-lg;

      button svg {
        font-size: 3rem;
      }
    }
  }


}
