.ScrollDownMouse {
  @include before-lg{
    display: none;
  }
  $width: 20px;
  width: $width;
  height: min-content;
  position: absolute;
  left: calc(50% - #{$width / 2});
  bottom: 10px;
  z-index: 3;
  cursor: pointer;
  @include for-xxl{
    $width: 25px;
    left: calc(50% - #{$width / 2});
  }
}
