@import "../../scss/animations";
.DynamicChannelTitle {
  width: 100%;
  cursor: default;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  letter-spacing: 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &::selection {
    background-color: transparent;
  }

  @include for-lg {
    font-size: 60px;
  }
  @include for-xxl {
    letter-spacing: 0.1em;
    font-size: 100px;
  }
  @include for-qxl {
    display: block;
    font-size: 140px;
  }
  h1 {
    text-align: center;
  }
}
