@import "../../../../scss/mixins";

.ContentSectionContainer {
  z-index: 1;
  @include layout-padding();
  @include for-lg {
    $blur: 60px;
    height: 100vh;
    @supports ((-webkit-backdrop-filter:  blur($blur)) or (backdrop-filter:  blur($blur))) {
      backdrop-filter: blur(60px);
      background: rgba(255, 255, 255, 0.05);
      box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.15), inset 0 0 60px rgba(255, 255, 255, 0.05);
    }
    @supports (not ((-webkit-backdrop-filter:  blur($blur)) or (backdrop-filter:  blur($blur)))) {
      background: rgba(255, 255, 255, 0.15);
      box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.15), inset 0 0 60px rgba(255, 255, 255, 0.05);
    }
  }
  @include before-lg {
    padding: 0;
  }
  .ContentSection {
    max-height: inherit;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      background: #000;
    }
    @include for-lg{
      height: inherit;
      z-index: 2;
    }
    @include layout-padding(true, false, false, false);
    .inner {
      @include layout-padding(false, false, true, false);
      @include before-lg {
        padding: 0;
      }
    }
  }
}
