@import "../../../../scss/mixins";

.ContentSectionContainer {
  z-index: 1;
  @include layout-padding();
  overflow: hidden;
  @include for-lg {
    height: 100vh;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.25), inset 0px 0px 60px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(60px);
  }
  @include before-lg {
    padding: 0;
  }
  .ContentSection {
    max-height: inherit;
    overflow: auto;
    @include for-lg{
      height: inherit;
      z-index: 2;
    }
    @include layout-padding(true, false, false, false);
    &::-webkit-scrollbar {
      display: none;
    }
    .inner {
      @include layout-padding(false, false, true, false);
      @include before-lg {
        padding: 0;
      }
    }
  }
}
