@import '../../scss/mixins';

.DefaultFooter {
  background-color: var(--bg-panel-color);
  padding-top: 20px;
  display: grid;
  color: var(--text-color);
  grid-gap: 30px;
  $head-height-lg: 60px;
  @include layout-padding(false, true, false, true);
  @include for-lg {
    padding-top: 40px;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: $head-height-lg 4fr;
  }

  .logo {
    img {
      &:global {
        animation: heartbeat ease-in 2s infinite;
      }
    }
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr;
    @include for-md {
      grid-area: 2/1/2/2;
      grid-template-columns: 1fr 1fr;
    }

    .column {
      display: grid;
      $gap: 40px;
      grid-gap: $gap;
      margin-bottom: $gap;

      li {
        @include f7() {
          font-weight: 400;
          line-height: 126.1%;
        }
      }
    }
  }

  .contactsUs {
    display: grid;
    grid-gap: 35px;
    max-width: 300px;
    margin-bottom: 20px;
    @include for-lg {
      justify-self: right;
      grid-template-rows: $head-height-lg;
      grid-area: 1/2/3/2;
    }

    .buttons {
      @include for-md {
        height: $head-height-lg;
      }
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;

      button {
        max-width: 140px;
        max-height: 45px;
      }
    }
  }
}
