.ListOrderPage {
  .title {
    margin-bottom: 0px;
  }

  .viewSection {
    @include before-fxl {
      padding-top: 10px;
    }
  }

  .searchInnerContainer {
    padding-bottom: 0 !important;
    position: sticky;
    top: 100px;

    .subaction {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 10px;
      @include for-xl {
        margin-top: 40px;
        margin-bottom: 30px;
      }
      & > p {
        @include f7() {
          font-weight: 500;
        }
        @include for-xl {
          @include f6();
        }
      }
      & > button{
        max-height: 30px;
      }
    }

    //.search{
    //  position: sticky;
    //  top: 20px;
    //}
  }
}


