$width-xs: 240px;
$height-xs: 90px;

$width-md: 470px;
$height-md: 176px;


$width-xxl: 505px;
$height-xxl: 220px;



$grid-gap-xs: 10px;
$grid-gap-md: 20px;
$grid-gap-xxl: 25px;


$border-radius-xs: 8px;
$border-radius-md: 16px;
