@import "data";

.RadioProgrammComponent {
  min-width: $width-xs;
  height: $height-xs;
  display: grid;
  grid-template-columns: $height-xs auto;
  grid-gap: $grid-gap-xs;
  @include for-xxl{
    grid-template-columns: $height-xxl auto;
    height: $height-xxl;
  }
  &.r{
    width: 100%;
  }
  .cover {
    position: relative;
    border-radius: $border-radius-xs;
    overflow: hidden;
    width: $height-img-xs;
    height: $height-img-xs;
    &.noImg{
      border: 1px solid var(--border-color);
    }
    @include for-xxl{
      width: $height-img-xxl;
      height: $height-img-xxl;
    }
    img {
      @include zoom-effect-on-leave();
    }
  }

  .desc {
    padding-top: 5px;
    & > * {
      letter-spacing: 0.05em;
      line-height: 100% !important;
    }

    h3 {
      margin-bottom: $grid-gap-xs;
      @include f7() {
        font-weight: 500;
      }
      @include for-lg{
        @include f5();
      }
    }

    h4 {
      margin-bottom: $grid-gap-xs;
      @include f8() {
        font-weight: 400;
      }
      @include for-lg{
        @include f7();
      }
    }

    ul {
      li {
        @include f8() {
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
  }

  &:hover {
    :local(.cover) {
      img {
        @include zoom-effect-on-hover();
      }
    }
  }
}

