@import '../../../../scss/mixins/index';
.InnerWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include layout-padding(true,false,true,false);
}
