.CommonPlayerCover {
  $xs-max-size: 45px;
  $lg-max-size: 60px;

  width: $xs-max-size;
  height: $xs-max-size;
  display: none;
  @include for-sm{
    display: block;
    width: $lg-max-size;
    height: $lg-max-size;
  }
  .cover{
    max-width: $lg-max-size;
    max-height: $lg-max-size;
  }
}
