.IconString {
  display: flex;
  gap: 5px;
  align-items: center;
  //margin-bottom: 12px;
  overflow: hidden;
  @include f8(){
    line-height: 150%;
  }
  @include for-xxl {
    @include f7();
  }

  svg {
    font-size: 140%;
  }

  & > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
