.IconString {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 12px;
  @include f8();
  @include for-lg {
    @include f7();
  }

  svg {
    font-size: 1rem;
    @include for-lg {
      font-size: 1.5rem;
    }
  }

  & > span {
    white-space: nowrap;
  }
}
