$translate: 200%;

.BannerPlayerArrow {
  $opacity: 0.4;
  opacity:$opacity;
  display: none;


  @include for-md {
    display: block;
  }



  &.left{
    animation: show-right-arrow 1s;
  }
  &.right{
    animation: show-left-arrow 1s;
  }
}

@keyframes show-right-arrow {
  from {
    opacity: 0;
    transform: translateX($translate);
  }
  to {
    transform: translateX(0);
    opacity: 0.4;
  }
}

@keyframes show-left-arrow {
  from {
    opacity: 0;
    transform: translateX(-$translate);
  }
  to {
    transform: translateX(0);
    opacity: 0.4;
  }
}
