@import '../../scss/data';
@import '../../scss/mixins';

.SectionSliderWrapper {
  width: 100%;
  position: relative;

  .head {
    @include for-sm {
      display: flex;
      justify-content: space-between;
    }

    .title {
      @include inner-section-padding(true, true, false, true);
    }

    .additional {
      margin-bottom: 4vh !important;
      @include for-sm {
        @include inner-section-padding(true, false, false, false);
      }
    }
  }

  .arrow {
    position: absolute;
    top: 0;
    visibility: hidden;
    @include for-sm {
      width: $inner-section-h-padding-sm;
    }
    @include for-md {
      visibility: visible;
      width: $inner-section-h-padding-md;
    }
    @include for-lg {
      width: $inner-section-h-padding-lg;
    }
    @include for-xl {
      width: $inner-section-h-padding-xl;
    }

    &.leftArrow {
      left: -1px;
    }

    &.rightArrow {
      right: -1px;
    }
  }

  .slider {

    @include for-sm {
      :global {
        .slick-list {
          margin-right: -$inner-section-h-padding-sm;
          margin-left: -$inner-section-h-padding-sm;
          padding: 0 $inner-section-h-padding-sm;
        }
      }
    }
    @include for-md {
      :global {
        .slick-list {
          margin-right: -$inner-section-h-padding-md;
          margin-left: -$inner-section-h-padding-md;
          padding: 0 $inner-section-h-padding-md;
        }
      }
    }
    @include for-lg {
      :global {
        .slick-list {
          margin-right: -$inner-section-h-padding-lg;
          margin-left: -$inner-section-h-padding-lg;
          padding: 0 $inner-section-h-padding-lg;
        }
      }
    }
    @include for-xl {
      :global {
        .slick-list {
          margin-right: -$inner-section-h-padding-xl;
          margin-left: -$inner-section-h-padding-xl;
          padding: 0 $inner-section-h-padding-xl;
        }
      }
    }
  }

  .inner {
    padding-top: 0 !important;
    margin-bottom: 35px;
    @include for-lg{
      margin-bottom: 0;
    }
  }
}
