$size-xs: 110px;
$size-md: 160px;
$size-lg: 220px;
$size-xxl: 392px;
$size-fxl: 392px;
$size-qxl: 392px;

$padding-xs: 10px;
$padding-lg: 15px;
$padding-xxl: 30px;

$gap-xs: 12px;
$gap-lg: 20px;
$gap-xxl: 30px;

$radius: 5px;
