//10
@mixin fxs{
  font-size: 10px;
  font-style: normal;
  line-height: 12px;
  letter-spacing: 0.14em;
  @content;
}

//12
@mixin fsm{
  font-size: 12px;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.14em;
  @content;
}

//14
@mixin fmd{
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0.14em;
  @content;
}


//24
@mixin flg{
  //font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  @content;
}

//30
@mixin fh2{
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  @content;
}
