@import 'src/layouts/DefaultLayout/scss/mixins';

.SCI {
  height: min-content;
  @include layout-padding(true, true, true, true);
  @include for-lg {
    margin-bottom: 15px;
    padding: 0;
    &.withHorizontalPadding{
      padding: 0 15px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .content {
    display: grid;
    height: 100%;
  }
}
