$line-height: 25px;
$bg-color: white;
$bg-color-active: var(--primary-color);
$gap: 4vh;
.SocialsSection {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap:$gap;
  @include for-xxl{
  }
  .inner {
    display: grid;
    height:100px;
    align-items: center;
    justify-content: right;
    @include for-xxl{
      height: 120px;
    }
    .socialItem {
      @include f6;
      @include for-xxl{
        @include f4;
      }
    }
  }

  .labelContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: $gap;
    justify-content: space-between;
    align-items: center;
    height: 135px;
    @include for-xxl{
      height: 175px;
    }
    .label {
      @include f7 {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-orientation: mixed;
      }
      @include for-xxl{
          @include f5();
      }
    }
    .line{

      height: $line-height;
      background-color: $bg-color;
      width: 2px;
      display: block;
      transition: .25s;
    }
    &:hover{
      :local(.line){
        transition: .25s;
        animation: line 1s ease-in-out;
      }
    }
  }
}

@keyframes line{
  0%{
    transform: translateY(0);
    background-color: $bg-color;
  }
  30%{
    transform: translateY($line-height / 2);
    background-color: $bg-color;
  }
  70% {
    transform: translateY(-$line-height);
    background-color: $bg-color-active;
  }
  100% {
    transform: translateY(0);
    background-color: $bg-color;
  }
}
