@font-face {
  font-family: 'Copyright House Industries';
  src:url('./Copyright-House-Industries-Not-Licensed-for-Desktop-Use.ttf.woff') format('woff'),
  url('./Copyright-House-Industries-Not-Licensed-for-Desktop-Use.ttf.svg#Copyright-House-Industries-Not-Licensed-for-Desktop-Use') format('svg'),
  url('./Copyright-House-Industries-Not-Licensed-for-Desktop-Use.ttf.eot'),
  url('./Copyright-House-Industries-Not-Licensed-for-Desktop-Use.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
