.SubscribeEmailInput {
  color: var(--border-color);
  & > span {
    @include f6 {
      color: #FFF;
      opacity: 0.4;

    }
  }
  .input{
    margin-top: 20px;
  }
}
.icon{
  color: var(--text-color);
}
