.AuthorPage {
  .previewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      @include for-sm {
        font-weight: 700;
        font-size: 32px;
      }
      @include for-lg {
        font-size: 50px;
      }
      @include for-xxl {
        font-size: 82px;
      }
    }

    .previewInner {
      //height: 100%;
      //display: flex;
      //flex-direction: column-reverse;
    }
  }

  .content {
    .sector {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .albumsInner {
      gap: 15px;
    }

    .recommendedTrack {
      margin: auto;
    }


    .description {
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
    }
  }
}
