.EventPage {
  .previewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .bread{
      padding-left: 0;
    }
    .title {
      @include f3() {
        font-weight: 700;
        letter-spacing: 0.02em;
      }
      @include for-sm{
        @include f2();
      }
      @include for-lg{
        @include f2_55();
      }
    }
    :global(.section-background) {
      filter: blur(8px) brightness(70%);
    }
    .cover {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
      @include for-lg{
        width: 200px;
        height: 200px;
      }
    }
  }
  .address{
    :local(.iconLine){
      margin-bottom: 15px;
    }
  }
  .iconLine{
    @include f7();
    @include for-lg{
      @include f6();
    }
  }
  .additional{
    .additionalInner{
      display: grid;
      gap: 15px;
      .date{
        @include f7();
        @include for-lg{
          @include f6();
        }
      }
    }
  }
}
