$text-color: #fff; //Основной текст
$border-color: #4F4F4F;


$grey-light-color: #FBFBFB;
$primary-color: #99D3FB;
$third-color: #256BFE;

$bg-panel-color: #2B2C32;
$bg-deep-color: #1E1F23;
$border-color: #4F4F4F;
$acсent-color:#fff;


