$default-text-color: #4F4F4F;
$default-text-grey-color: #BEBEBE;
$second-text-color:#000;
//$primary-color: #0787E4;
$primary-color: #E8464E;

$second-bg-color: #2B3956;

$default-bg-third-color: #EDF2F2;
