@import './fonts/font-mixins';
//Контейнеры
@mixin with-screen-lg-padding($r: true, $l: true){
  @if $l == true {
    padding-left: $screen-lg-padding;
  }
  @if $r == true {
    padding-right: $screen-lg-padding;
  }
}

@mixin with-screen-sm-padding($r: true, $l: true){
  @if $l == true {
    padding-left: $screen-sm-padding;
  }
  @if $r == true {
    padding-right: $screen-sm-padding;
  }
}

@mixin with-screen-xs-padding($r: true, $l: true){
  @if $l == true {
    padding-left: $screen-xs-padding;
  }
  @if $r == true {
    padding-right: $screen-xs-padding;
  }
}

@mixin with-screen-padding($r: true, $l: true){
  @include with-screen-xs-padding($r,$l);
  @include for-sm{
    @include with-screen-sm-padding($r,$l);
  }
  @include for-lg{
    @include with-screen-lg-padding($r,$l);
  }
}


//-------------------------------------------------------------------
//Эффект увеличения картинки (присваивать нужно картинке этот миксин)
@mixin zoom-effect(){
  @include zoom-effect-on-leave();
  &:hover {
    @include zoom-effect-on-hover();
  }
}
//При покидании
@mixin zoom-effect-on-leave(){
  transition: .3s ease-out;
  cursor: pointer;
}
//При наведении
@mixin zoom-effect-on-hover(){
  transform: scale(1.1) !important;
  transition: .3s ease-out;
}

//-------------------------------------------------------------------
