@import './fonts';
@import './_utils-classes.scss';
@import './theme.scss';
@import './animations.scss';
@import './styles-overrides.scss';



:root {
  @include DefaultTheme();
}
#__next{
  //display: flex;
  //justify-content: center;
  //width: 100vw;
}
html,
body {
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: var(--bg-deep-color);
  overflow-x: hidden;
  color: var(--text-color);
}

//h1{
//  line-height: 100%;
//
//}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  //fontFamily: Montserrat, sans-serif,
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

::selection {
  background: var(--primary-color);
  color: grey;
}

.zoom-effect {
  @include zoom-effect();
}
