@import './_utils-classes.scss';
@import './fonts/fonts.scss';
@import './theme.scss';
//@import './utils/index';

:root{
  @include DefaultTheme();
}
html,
body {
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
