@import './_utils-classes.scss';
@import './theme.scss';

:root{
  @include DefaultTheme();
}
html,
body {
    padding: 0;
    margin: 0;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
