@import "src/scss/colors";

//Главная тема
@mixin DefaultTheme {
  --text-color: #{$text-color}; // основной цвет текста
  --grey-light-color: #{$grey-light-color};
  --primary-color: #{$primary-color};
  --third-color: #{$third-color};

  --bg-panel-color: #{$bg-panel-color};
  --bg-deep-color: #{$bg-deep-color};
  --border-color: #{$border-color};
  --acсent-color:#{$acсent-color};
  --error-color:#{$error-color};
}
