@import '../../../../../../scss/mixins';

.SectionContainer {

  $slice: 18px;
  border-radius: 25px 25px 0 0;
  //@include layout-padding-xs(false, true, true, true);
  padding-top: $slice -  3px;
  margin-top: -$slice;
  z-index: 1;

  .line {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    @include for-lg {
      display: none;
    }

    span {
      width: 10%;
      max-width: 60px;
      height: 2px;
      background-color: white;
    }
  }

  .head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include layout-padding(false, true, false, true);
    margin-bottom: 15px;
    @include f7() {
      font-weight: 700;
    }
    .loader{
      height: 14px;
      width: 14px;
    }

    @include for-lg {
      margin-bottom: 30px;
      padding: 0 15px;
      @include f5();
      :local(.loader){
        height: 16px;
        width: 16px;
      }
    }
    @include for-qxl{
      padding: 0 20px;
    }
    .link{
      font-weight: 300;
      cursor: pointer;
      @include for-lg {
        @include f7();
      }
    }
  }


  @include for-lg {
    background: rgba(255, 255, 255, 0.13);
    border-radius: 5px;
    backdrop-filter: blur(60px);
    margin-top: 0;
    //padding: 15px 15px;
    min-height: 285px;
    height: 100%;
  }

  &.colorType1 {
    @include before-lg {
      @include lubimka-bg-gradient();
    }
  }

  &.colorType2 {
    @include before-lg {
      background: var(--bg-deep-color);
    }
  }

  &.colorType3 {
    @include before-lg {
      background: var(--bg-panel-color);
    }
  }
}
