.ClubPage {
  .previewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      @include f3() {
        font-weight: 700;
        letter-spacing: 0.02em;
      }
      @include for-sm{
        @include f2();
      }
      @include for-lg{
        @include f2_55();
      }
    }

    //.tabs {
    //
    //}
  }
}
