.ClubPage {
  .previewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    :global(.section-background) {
      filter: blur(8px) brightness(70%);
    }

    .titleContainer {
      display: grid;
      gap: 20px;
      @include for-qxl {
        gap: 50px;
      }

      .cover {
        width: 200px;
        height: 200px;
        border-radius: 4%;
        overflow: hidden;
        position: relative;
      }

      .title {
        @include f3() {
          font-weight: 700;
          letter-spacing: 0.02em;
        }
        @include for-sm {
          @include f2();
        }
        @include for-lg {
          @include f2_55();
        }
      }
    }

  }

  .description {

  }
}
