.ClubPage {
  .previewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    :global(.section-background) {
      filter: blur(8px) brightness(70%);
    }

    .titleContainer {
      display: grid;
      gap: 20px;
      @include for-qxl {
        gap: 50px;
      }

      .cover {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        @include for-lg{
          width: 200px;
          height: 200px;
        }
      }

      .title {
        @include f3() {
          font-weight: 700;
          letter-spacing: 0.02em;
        }
        @include for-sm {
          @include f2();
        }
        @include for-lg {
          @include f2_55();
        }
      }
    }

  }

  .description {
    @include f6();
    line-height: 140%;
  }
  .address{
    @include f7();
    line-height: 140%;
    .addressContainer {
      font-size: inherit;
      margin-bottom: 30px;
    }
    @include for-lg{
      @include f6();
    }
  }
}
