@import "../../components/UI/ClubComponent/mixins";

//@import "components/UI/ClubComponent/mixins";
.ClubsPage {
  .ViewSection {
    display: grid;
    gap: 20px;
    @include for-xs{
      grid-template-columns: 1fr 1fr;
    }
    @include for-sm{
      grid-template-columns: 1fr 1fr;
    }
    @include for-md{
      grid-template-columns: repeat(3, 1fr);
    }
    @include for-lg{
      grid-template-columns: repeat(3, 1fr);
    }
    @include for-xl{
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    @include for-uxl{
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
