  .AnyContactForm {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    .sendButton{
      max-width: min-content;
    }
    @include for-md {
      //max-width: 440px;
      grid-template-columns: 1fr 1fr;
      grid-gap: 25px;
      .message {
        margin-top: 5px;
        grid-column: 1/3;
      }
    }
  }
