.BroadcastPage {
  position: relative;

  .preview {
    display: flex;
    @include before-lg {
      position: relative;
    }

    .cover {
      position: absolute;
      left: 0;
      top: 0;
      filter: brightness(15%) blur(12px) ;
      transition: background 3s;
      width: 100%;
      height: 100%;
      //background: transparent url(https://lubimka-media.s3.eu-central-1.amazonaws.com/hits_min_6bf1feef44.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      transition-delay: 5s;
    }

    :global(.section-background) {
      filter: blur(10px) brightness(20%);
    }

    .previewInner {
      .title{
        @include for-lg{
          font-size: 60px;
        }
        @include for-xl{
          font-size: 80px;
        }
        @include for-qxl{
          font-size: 100px;
        }
      }
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin: auto;
      @include for-lg {
        gap: 50px;
      }
    }
  }
}
