@import './data';
.DefaultHeader {
  background-color: var(--bg-panel-color);
  width: 100%;
  height: $height;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: absolute;
  transform: translateY(-100%);
  transition: .25s;
  @include with-screen-padding(true, false);
  &.fixed{
    position: fixed;
  }
  &.show{
    transform: translateY(0);
    transition: .25s;
  }
  &.transparent{
    background-color: transparent;
  }
  @include before-sm{
    padding-right: 0!important;
  }
  @include for-sm{
    height: $height-sm;
  }
  @include for-md{
    height: $height-md;
  }
  @include for-xxl{
    height: $height-xxl;
  }
  @include for-qxl{
    height: $height-xxxl;
  }

  .mobile{
    @include for-lg{
      display: none;
    }
  }
  .desktop{
    display: none;
    @include for-lg{
      display: block;
    }
  }
}

