@import "../../../../../../scss/mixins";
.SectionContainer {
  $slice: 18px;
  border-radius: 25px 25px 0 0;
  @include layout-padding(false, true, true, true);
  padding-top: $slice - 3px;
  margin-top: -$slice;
  position: relative;
  .line{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    @include for-lg{
      display: none;
    }
    span{
      width: 10%;
      max-width: 60px;
      height: 2px;
      background-color: white;
    }
  }

  @include for-sm{
    @include layout-padding-md(false, true, false, true);
  }
  @include for-lg{
    background: none;
    border-radius: 0;
    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
  &.colorType1{
    @include before-lg{
      backdrop-filter: blur(40px);
      box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.1), inset 0px 0px 60px rgba(255, 255, 255, 0.05);
    }
  }
  &.colorType2{
    @include before-lg {
      backdrop-filter: blur(1px);
      background: var(--bg-deep-color);
    }
  }
  &.colorType3{
    @include before-lg {
      backdrop-filter: blur(1px);
      background: var(--bg-panel-color);
    }
  }
}
