@import "data";
@import "../../scss/mixins";

.PageTitle {
  //height: $height-xs;
  display: grid;
  gap: $gap-xs;
  align-items: center;
  justify-content: left;
  z-index: 2;
  cursor: pointer;
  @include for-xxl{
    gap: $gap-xxl;
  }
  @include for-qxl{
    gap: $gap-qxl;
  }
  &.wP{
    @include layout-padding(true, true, true, true, margin);
  }
  &.lM{
    @include inner-section-padding(false, false, false, true);
  }

  //.back{
  //  @include f8();
  //  width: min-content;
  //  color: inherit;
  //  @include for-sm{
  //    display: none;
  //  }
  //}
  .breadcrumbs{
    @include f7();
    @include for-xxl{
      @include f6();
    }
  }
  h1{
    @include f3() {
      font-weight: 700;
    }
    @include for-sm {
      grid-template-columns: auto;
      @include f2();
    }
  }
}
